@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply sm:bg-[#36384D];
    }

    main {
        @apply bg-white;
    }
}

* {
    /* outline: 1px solid lightblue; */
}

html {
    font-family: "Roboto", sans-serif;
    font-family: "Rubik", sans-serif;
    color: #222541;
}

.dismiss-btn:hover {
    box-shadow: 0px 11px 35px -3px #ff5d5e;
}
